In [ ]:
import pandas as pd

df = pd.read_csv("demo_data_100.csv")
print(df.to_string())

       Name   Age        City  Marks
0   Prakash  23.0      Butwal   65.0
1      Rina  21.0     Hetauda   65.0
2     Laxmi  20.0         NaN   85.0
3     Kamal   NaN      Dharan   70.0
4   Prakash  24.0     Pokhara    NaN
5     Nisha  22.0     Pokhara   80.0
6    Bikash  23.0  Biratnagar   60.0
7   Prakash   NaN     Hetauda   75.0
8     Laxmi  22.0   Kathmandu   60.0
9     Kamal  22.0      Dharan   75.0
10     Rina  20.0      Butwal   60.0
11    Laxmi  22.0   Kathmandu   85.0
12    Laxmi  24.0     Hetauda   80.0
13   Bikash   NaN         NaN    NaN
14     Maya  22.0      Butwal   75.0
15    Kamal  20.0         NaN    NaN
16     Sita  24.0  Biratnagar    NaN
17    Laxmi  21.0  Biratnagar    NaN
18     Maya   NaN     Pokhara   90.0
19     Sita  22.0         NaN   70.0
20    Kamal  20.0     Hetauda   60.0
21    Aarav  21.0      Dharan    NaN
22    Nisha  21.0      Butwal   60.0
23     Maya  23.0   Kathmandu    NaN
24    Rohit  24.0     Hetauda   75.0
25    Aarav  22.0     Hetauda   70.0
26    Nisha  20.0  Biratnagar   70.0
27   Bikash  23.0         NaN   85.0
28  Prakash  24.0     Pokhara   90.0
29     Rina  23.0     Pokhara   85.0
30    Rohit   NaN      Butwal   85.0
31   Bikash  24.0  Biratnagar   85.0
32    Kamal  24.0     Hetauda   85.0
33   Bikash  22.0      Dharan   85.0
34  Prakash  24.0  Biratnagar   80.0
35    Kamal  23.0      Butwal   70.0
36    Rohit  24.0      Butwal   85.0
37  Prakash  22.0  Biratnagar    NaN
38     Sita  22.0      Butwal   70.0
39     Rina   NaN  Biratnagar   70.0
40    Rohit  23.0   Kathmandu   65.0
41     Sita  21.0  Biratnagar   80.0
42    Nisha  21.0         NaN   85.0
43    Rohit  24.0  Biratnagar   60.0
44    Nisha   NaN      Butwal   75.0
45    Kamal  20.0         NaN   90.0
46     Sita  24.0      Butwal    NaN
47     Rina   NaN     Pokhara   60.0
48  Prakash  23.0     Pokhara   80.0
49    Laxmi  23.0         NaN   75.0
50   Bikash  23.0   Kathmandu   80.0
51    Aarav  23.0     Pokhara    NaN
52     Rina  23.0  Biratnagar   70.0
53     Sita   NaN      Butwal   75.0
54    Laxmi   NaN     Pokhara   70.0
55     Rina  22.0     Pokhara    NaN
56     Sita  21.0   Kathmandu   60.0
57     Maya  23.0         NaN    NaN
58     Maya  20.0         NaN   60.0
59    Nisha   NaN     Hetauda   75.0
60     Rina  20.0   Kathmandu   75.0
61     Maya  20.0  Biratnagar   85.0
62     Sita  20.0         NaN   80.0
63    Nisha  22.0      Butwal   85.0
64     Sita   NaN   Kathmandu   80.0
65    Nisha  20.0     Pokhara   85.0
66     Rina  23.0      Butwal   70.0
67    Laxmi  24.0      Butwal   75.0
68  Prakash  20.0     Pokhara   60.0
69    Rohit  22.0   Kathmandu   80.0
70    Laxmi   NaN     Pokhara    NaN
71    Kamal  22.0     Hetauda   80.0
72     Sita  20.0      Butwal   60.0
73    Kamal   NaN      Dharan   85.0
74    Laxmi  24.0      Dharan   80.0
75    Nisha  20.0  Biratnagar   90.0
76    Rohit  22.0         NaN   70.0
77    Rohit  21.0     Pokhara   75.0
78    Aarav  23.0     Pokhara   60.0
79    Rohit  22.0  Biratnagar   75.0
80  Prakash   NaN  Biratnagar   90.0
81    Rohit  20.0  Biratnagar   80.0
82    Laxmi  23.0      Butwal   80.0
83    Aarav  20.0     Hetauda    NaN
84    Laxmi   NaN     Pokhara   90.0
85    Laxmi  20.0      Butwal   60.0
86   Bikash  21.0  Biratnagar    NaN
87    Aarav  23.0     Pokhara   70.0
88    Laxmi  23.0      Butwal    NaN
89   Bikash   NaN     Hetauda   65.0
90   Bikash  21.0      Butwal   60.0
91    Aarav  22.0     Hetauda   65.0
92    Kamal  20.0  Biratnagar   90.0
93    Nisha  24.0     Hetauda   85.0
94  Prakash  20.0     Pokhara   65.0
95    Nisha  20.0  Biratnagar   70.0
96    Rohit  22.0     Pokhara    NaN
97  Prakash  20.0      Dharan   85.0
98    Rohit  21.0   Kathmandu    NaN
99    Laxmi  21.0     Hetauda   65.0

In [3]:
df.head()

      Name   Age     City  Marks
0  Prakash  23.0   Butwal   65.0
1     Rina  21.0  Hetauda   65.0
2    Laxmi  20.0      NaN   85.0
3    Kamal   NaN   Dharan   70.0
4  Prakash  24.0  Pokhara    NaN