In [ ]:
import pandas as pd

df = pd.read_csv("demo_data_100.csv")

### Finding the missing or non-missing values

use isna(), isnull(), notna(), notnull() function

returns boolean data output

NA => Not Available (None, Not a Number, Not a Time)

In [ ]:
#detect missing values
df.isna()
df.isnull()

In [ ]:
# detect non-missing values
df.notna()
df.notnull()

In [ ]:
# Any missing values in each column
df.isna().any()

In [ ]:
# count missing values in each column
df.isna().sum()

### Drop any column from DatFrame

- use axis=1 parameter
- By default, the data is not modified in original dataframe, use inplace = True parameter

In [ ]:
df.drop("Age")

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis=1)